*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  margin-top: 2rem;
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
  margin-inline: auto;
  height: 400px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -400px;
  }
}

@keyframes scrollRight {
  to {
    right: -400px;
  }
}

.itemLeft,
.itemRight {
  margin-top: 30px;
  width: 400px;
  height: 300px;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(400px * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(400px * 8), calc(100% + 400px));
  animation-name: scrollRight;
}
